body
  ul.navbar
    li
      a(href='/') <!-- Bungalow icon by Icons8 -->
        <img class="icon icons8-Bungalow" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAACoElEQVRoge2Wz0sbQRTH99SeCsG/wEMvvcWTEAIJiT+TKolaUpQtw75EDN2ZHQIFIVgVBEuc6ZT24tEK7cWDnktRCr176a1CvPaUHgstvB40WxOyujHZLJX5wpfA7Gbe57vz9rGGoaWlpXUnpXgpKhicCganipeiYfN0JcEhJxk0JAO8dENwyIXN5UuvGby5At5qp6jC5vOU4iQiGJx6wl/6oqVIJGzeFu3wYrKtZW5yY4cXk2FzG4ZhGJIVN7oAbz8NJzRwxUlEUji8LbxrCocDbynFS1HJoN4z/D/XBzZqJbVIl/3u+72Q1CLBB+g/eIsHEeBTYAEc+BoovJPPbK9kU39qz4lvqE73ev3fnhn77eQz230HV5xEXpWffVieSqCZHMXl6QRWzXm3cNWcQ5KOYWUhg9srJkoGuFVaQnt2HJenE/iSPHHBq+Y8knQMXxRm3CCb1lMsP06hmRxFmIijpJbq22SqcRKVzKo3AZohgjBMxHGrtHT5YKx6jZPeJpNk1nqno66ac1jOptzC5WwKq+YcOvlJhIm4C1NZyODqYs69l6RjaM+O4+piDp38JJJ07OJEpxItJ9Jqa71rcMXJsKBwEvTE8WtB4URxMuwLXtiQk8wKYs73aKshbB+f5OGDXm8/AY7ChrzGRzcGqHESFRR+dtrgXcXsuPFb6r3udc2rxnXrvqeS4mRYMNgTFM4lA9xfy+P3jw/x1+cHeExHcJcWUDLAXVrAYzqCP+x7+O39I9xfy7sFD+gYntEhPKNDeEDH3PXmXoqTiGTWRrPGxa+1oTiJCBtyzb0EhXPBYM/3S9wu/HIfr7phGx3t93rTfuveCloH0AF0gDscoF/+7wPcBKgDDCqAF6gOMOgA3baYDqADDCqAlpaWVqD6C72y7LD8i8EVAAAAAElFTkSuQmCC" width="24" height="24">

    if path === '/'
      li
        a(href='blog') blog
      li
        a(href='/#about') about
      li
        a(href='/#contact') contact
