extends ./layout.pug
block content

  section
    #about
      .container
        h2 About Me
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

    #contact
      .contactContainer
        h2 Contact Me
        <img class="icon icons8-New-Post" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAACQ0lEQVRoge2YT0sqURjG+yh9jOaspI0rN+5cueqcoCGYjYRQLmyRiZAtxoXIbZGLBCdBmgODiKAkUlGUiIOL/Aa1D+57F91zcOza/Gn0yOU88Kwcz3l+M+d932E2NqSkpKSkpKTWTLtbdBMr5jVR6CtBFIRaoa9YMa93t+im9/DIfBMefM4YmW+eIPa3rRvRYRd5f9u6cQUwSvbvbLInPOy8s8ke1IqjD1eAZmUCzcoEyoePoEYs4cHViAXlw0dguVwBsskeGLoNzcoErs5GkIq1hYVPxdpwdTaCZmUChm5DNtlzByCIghZtQTU/5NSFvcHKwxf2Bnz/an4IWrQFBFFvAMzn2j1f5OL4mS+yTGvRFlwcP/N9z7V7x+++AAiikI53+JGql8aQSXSXFj6T6EK9NOZHJh3vfLnGNwAvpKMnfleK2l2oBa5GLChqd3z98tHTwvUDATDncJ9vcnn6EkqBp2JtuDx94evmcP/b638EwDZkBV4vjeFk5zZw+JOdW35kqvmhpxvyYwD2yPWDBwg6M+Z7u37w4Pn/oQAwZxJdx8z4V9HNOx3vOHq736YQKgBB/mbGbG//FbAthw7Aw6kDR4HPhtOiLUehFtTgg3FpAOx41P4eDzYzZnt7zeMxEwZA0NeZ4aW3rxUAcw73wdBtMHTbtbevJQBBnzMj7LfZlQIswxJAtP9/AKzQd9EhFxkr5tTLE2iIDvqNG64An1/l1u8pYIW++/o6RxBtYMWcig9uTgmiDc/hpaSkpKSkpFaoP9K0eqkNp6x7AAAAAElFTkSuQmCC" width="48" height="48">
        h6 email: LoremIpsumDolorSitAmet.Lorem
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
